<IfModule mod_rewrite.c>
  Options -Multiviews
  RewriteEngine On
  
  # If the file/folder exists, use it directly (like images or css)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  
  # Otherwise, send everything to index.php?url=...
  RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>